<div [formGroup]="modeTravailForm" class="flex flex-wrap gap-4 justify-center items-center min-h-screen">
  <div class="flex gap-4 items-center justify-center w-full">
    <div class="w-full max-w-4xl bg-black bg-opacity-70 rounded-lg shadow-lg p-4">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" role="tabpanel">
          <div class="flex flex-col gap-4 p-5">
            <div class="space-y-4">
              <div class="form-group flex justify-center w-full">
                <label class="text-white flex justify-end items-center w-1/4 pr-4">Semaine :</label>
                <div class="flex items-center gap-4 w-3/4 justify-center">
                  <label class="flex items-center text-white">
                    <input type="radio" value="6/7jours" class="form-radio text-blue-500 mr-2" name="semaine" formControlName="semaine"> 6/7jours
                  </label>
                  <label class="flex items-center text-white">
                    <input type="radio" value="7/7jours" class="form-radio text-blue-500 mr-2" name="semaine" formControlName="semaine"> 7/7jours
                  </label>
                </div>
              </div>
              <div *ngIf="modeTravailForm.controls['semaine'].invalid && (modeTravailForm.controls['semaine'].touched || formSubmitted)" class="text-red-500 mt-2">
                Veuillez sélectionner une option pour la semaine.
              </div>
              <div class="form-group flex justify-center w-full">
                <label class="text-white flex justify-end items-center w-1/4 pr-4">Jour :</label>
                <div class="flex items-center gap-4 w-3/4 justify-center">
                  <label class="flex items-center text-white">
                    <input type="radio" value="2/3shifts" class="form-radio text-blue-500 mr-2" name="jour" formControlName="jour"> 2/3shifts
                  </label>
                  <label class="flex items-center text-white">
                    <input type="radio" value="3/3shifts" class="form-radio text-blue-500 mr-2" name="jour" formControlName="jour"> 3/3shifts
                  </label>
                </div>
              </div>
              <div *ngIf="modeTravailForm.controls['jour'].invalid && (modeTravailForm.controls['jour'].touched || formSubmitted)" class="text-red-500 mt-2">
                Veuillez sélectionner une option pour le jour.
              </div>
            </div>
            <div class="flex justify-around mt-6">
              <button type="submit" class="btn btn-primary" [ngClass]="{'btn-secondary': modeTravailForm.invalid}" [disabled]="modeTravailForm.invalid">Valider</button>
              <button type="button" (click)="onCancel()" class="btn btn-secondary">Annuler</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
