<div [formGroup]="shiftForm" class="flex flex-col items-center justify-center min-h-screen">
  <div class="w-full max-w-4xl bg-black bg-opacity-70 rounded-lg shadow-lg p-4">
    <ul class="nav nav-tabs mb-4">
      <li class="nav-item">
        <a class="nav-link active" (click)="selectedTab = 'form'" [class.active]="selectedTab === 'form'" href="#">Formulaire</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="selectedTab = 'download'" [class.active]="selectedTab === 'download'" href="#">Télécharger un fichier</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade show active" *ngIf="selectedTab === 'form'">
        <!-- Contenu du formulaire -->
        <div class="flex flex-col gap-4 p-5">
          <div class="space-y-6 p-3">
            <div class="grid grid-cols-2 gap-8 items-center">
              <div>
                <h3 class="text-center font-bold text-lg text-white mb-4">Période normale</h3>
                <label class="text-white">Shift 1 :</label>
                <input type="text" formControlName="normalShift1" class="form-input mb-2 bg-white text-black" [attr.disabled]="true">
                <label class="text-white">Shift 2 :</label>
                <input type="text" formControlName="normalShift2" class="form-input mb-2 bg-white text-black" [attr.disabled]="true">
                <label class="text-white">Shift 3 :</label>
                <input type="text" formControlName="normalShift3" class="form-input bg-white text-black" [attr.disabled]="true">
              </div>
              <div>
                <h3 class="text-center font-bold text-lg text-white mb-4">Période Ramadan</h3>
                <label class="text-white">Shift 1 :</label>
                <input type="text" formControlName="ramadanShift1" class="form-input mb-2 bg-white text-black" [attr.disabled]="true">
                <label class="text-white">Shift 2 :</label>
                <input type="text" formControlName="ramadanShift2" class="form-input mb-2 bg-white text-black" [attr.disabled]="true">
                <label class="text-white">Shift 3 :</label>
                <input type="text" formControlName="ramadanShift3" class="form-input bg-white text-black" [attr.disabled]="true">
              </div>
            </div>
            <div class="text-center font-bold text-lg text-white my-4 ">Définir la date de Ramadan</div>
            <div class="grid grid-cols-2 gap-8 items-center">
              <div>
                <label class="text-white">Date début :</label>
                <input type="date" formControlName="startDate" class="form-input bg-white text-black">
              </div>
              <div>
                <label class="text-white">Date fin :</label>
                <input type="date" formControlName="endDate" class="form-input bg-white text-black">
              </div>
            </div>
            <div *ngIf="formSubmitted && (shiftForm.controls['startDate'].invalid || shiftForm.controls['endDate'].invalid)" class="text-red-500 mt-2">
              Veuillez remplir la date de début et la date de fin.
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" *ngIf="selectedTab === 'download'">
        <!-- Contenu pour télécharger un fichier -->
        <div class="flex flex-col items-center gap-4">
          <h2 class="text-center font-bold text-lg mb-4 underline underline-offset-4 text-white">Télécharger un fichier</h2>
          <p class="mb-4 text-white">Entrez le nom du fichier que vous souhaitez télécharger :</p>
          <div class="flex flex-col items-center gap-4">
            <input type="text" [(ngModel)]="fileName" [ngModelOptions]="{standalone: true}" class="form-input w-full max-w-xs">
            <button (click)="downloadFile()" class="btn btn-primary transform transition-transform duration-100 ease-in-out hover:scale-105 active:translate-y-1 active:shadow-inner">Télécharger</button>
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-around mt-6">
      <button (click)="updatePeriodeShift()" type="submit" class="btn btn-primary transform transition-transform duration-100 ease-in-out hover:scale-105 active:translate-y-1 active:shadow-inner" [disabled]="shiftForm.invalid">Valider</button>
      <button (click)="onCancel()" type="button" class="btn btn-secondary transform transition-transform duration-100 ease-in-out hover:scale-105 active:translate-y-1 active:shadow-inner">Annuler</button>
    </div>
  </div>
</div>
