<div class="flex min-h-screen justify-center items-center text-white ">
  <div class=" p-10 rounded  backdrop-blur-md  bg-black/70 object-scale-down m-auto" id="login">
    <h1 class="mb-8 font-bold underline text-lg text-center underline-offset-4 uppercase tracking-widest">Authentification</h1>
    <div class="flex flex-col p-8 mb-12 w-max">
      <form class="mb-4">
        <label class="pr-6">Login :</label>
        <input type="text" class="  rounded ml-6 max-w-1/2 text-black">
      </form>
      <form class="mb-4">
        <label class="pr-6">Password :</label>
        <input type="password" class="  rounded mr-0.5 max-w-1/2 text-black">
      </form>
    </div>
    <div class="flex justify-around p-6">
      <button class="border border-white rounded py-0.5 px-4">Connecter</button>
      <button class="border border-white rounded py-0.5 px-4">Annuler</button>
    </div>
  </div>
</div>
