<div class=" flex flex-wrap gap-4 justify-center items-center w-screen h-full m-auto">
  <div class="flex gap-4 items-center justify-around w-full">
    <form [formGroup]="normeForm" (ngSubmit)="SaveOrUpdateNormProduct() " class="flex gap-4 p-5 backdrop-blur-md bg-black/70 rounded">
      <div class="grid grid-cols-2 gap-4 mb-4">
        <div class="form-group">
          <label for="trafic" class="block mb-1 text-white">Main :</label>
          <select id="trafic" class="w-full px-3 py-2 border rounded" formControlName="mainTheoriqueId" (change)="onMaintheoriqueChange()" required>
            <option *ngFor="let maintheorique of mainsTheoriques" [value]="maintheorique.id">{{maintheorique.nom}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="mainTheorique" class="block mb-1 text-white">Trafic :</label>
          <select id="mainTheorique" class="w-full px-3 py-2 border rounded" formControlName="traficId" required>
            <option *ngFor="let trafic of trafics" [value]="trafic.id">{{trafic.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="mode" class="block mb-1 text-white">Mode :</label>
          <select id="mode" class="w-full px-3 py-2 border rounded" formControlName="modeId" required>
            <option *ngFor="let mode of modes" [value]="mode.id">{{mode.nom}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="norme" class="block mb-1 text-white">Norme :</label>
          <input type="number" id="norme" class="w-full px-3 py-2 border rounded" formControlName="norme" required>
        </div>
      </div>
      <div class="p-5">
        <div class="form-group mb-4">
          <label class="block mb-1 text-white">Sens :</label>
          <div class="flex space-x-4">
            <label class="flex items-center text-white">
              <input type="radio" value="export" class="mr-2" formControlName="sens" required> export
            </label>
            <label class="flex items-center text-white">
              <input type="radio" value="import" class="mr-2" formControlName="sens" required> import
            </label>
          </div>
        </div>
        <div class="form-group mb-4">
          <label class="block mb-1 text-white">Nature suivi du produit :</label>
          <div class="flex space-x-4">
            <label class="flex items-center text-white">
              <input type="radio" value="shift" class="mr-2" formControlName="suiviProduit" required> Shift
            </label>
            <label class="flex items-center text-white">
              <input type="radio" value="finTravail" class="mr-2" formControlName="suiviProduit" required> Fin du travail
            </label>
          </div>
        </div>
      </div>
      <div class="flex items-center justify-center">
        <button type="submit"  class="bg-blue-500 text-white px-4 py-2 rounded transform transition-transform duration-100 ease-in-out mx-4"
                [ngClass]="{
                              'active:translate-y-1 active:shadow-inner': normeForm.valid,
                              'bg-gray-400 cursor-not-allowed': normeForm.invalid
                          }"
                [disabled]="normeForm.invalid">
          {{ isEditMode ? 'Update' : 'Ajouter' }}
        </button>
        <app-loading></app-loading>
      </div>
    </form>
  </div>

  <div class="w-10/12 h-full rounded backdrop-blur-md bg-black/70">
    <div class="table-container rounded overflow-y-auto h-50 border border-gray-300">
      <table class="bg-white border-collapse w-full">
        <thead>
        <tr class="bg-gray-200">
          <th class="px-4 py-2 border">Trafic</th>
          <th class="px-4 py-2 border">Main théorique</th>
          <th class="px-4 py-2 border">Mode</th>
          <th class="px-4 py-2 border">Norme</th>
          <th class="px-4 py-2 border">Sens</th>
          <th class="px-4 py-2 border">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let norme of normesProductivites | paginate: { itemsPerPage: 3, currentPage: p }">
          <td class="px-4 py-2 border">{{ norme.trafic?.name }}</td>
          <td class="px-4 py-2 border">{{ norme.mainTheorique?.nom }}</td>
          <td class="px-4 py-2 border">{{ norme.mode?.nom }}</td>
          <td class="px-4 py-2 border">{{ norme.norme }}</td>
          <td class="px-4 py-2 border">{{ norme.sens }}</td>
          <td class="px-4 py-2 border">
            <button class="bg-yellow-500 text-white px-2 py-1 rounded mx-4 transition transform active:scale-95" (click)="editNormProduct(norme)" >Edit</button>
            <button (click)="deleteNormProduct(norme.id)" class="bg-red-500 text-white px-2 py-1 rounded transition transform active:scale-95">Delete</button>
          </td>
        </tr>
        </tbody>
        <div class="bg-white border-collapse w-full rounded">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </table>
    </div>
  </div>
</div>
